* {
    margin: 0;
    padding: 0;
}
ul {
    width: 15%;

}
ul li {
    font-size: 1.5em;
    padding-bottom: 8px;
    border: 1px solid black;
    cursor: pointer;
}

#info-container {
    width: 85%;
    height: 71%;
    background-color: rgba(113, 172, 119, 0.85);
    position: fixed;
    top: 0;
    right: 0;
}

p {
    /*padding: 100px;*/
}

.chosen {
    background-color: rgba(113, 172, 119, 0.85);;
    border-right: none
}

form{
    text-align: left;

}

div {
    margin-left: 100px;
    margin-bottom: 10px;
}

b {
    margin-right: 30px;
}

input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

.send-btn {
    margin-top: 40px;
    margin-left: 180px;
    background-color: #5962ff;
    color: #eeeeee;
    height: 40px;
    cursor: pointer;
}

#company {
    margin-right: 3px;
}

#name-input {
    margin-top: 40px;
}